<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>157223722652-iq26ctfritt9t2q5r1spl9s1v1h45k1d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.157223722652-iq26ctfritt9t2q5r1spl9s1v1h45k1d</string>
	<key>API_KEY</key>
	<string>AIzaSyCnX4LaPGiQ0F9lhXc7swS5r1DFYlYz3jw</string>
	<key>GCM_SENDER_ID</key>
	<string>157223722652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eraybahcegulu.foodapp</string>
	<key>PROJECT_ID</key>
	<string>foodappnotes</string>
	<key>STORAGE_BUCKET</key>
	<string>foodappnotes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157223722652:ios:6b3d2e01c9164b334cd759</string>
</dict>
</plist>